""" Map leader to space ---------------------
let mapleader=" "


""" Common settings -------------------------

"esc setting
inoremap jk <esc>

set showmode
set so=5
set incsearch
set nu rnu

""""""""""""""


"""""" Normal Mode
nmap L <Action>(NextTab)
nmap H <Action>(PreviousTab)
""""""""""""""

""""" Visual Mode
vmap K :m '<-2<CR>gv
vmap J :m '>+1<CR>gv
""""""""""""""


""" Some popular actions
" Map \r to the Reformat Code action
:map <leader>r <Action>(ReformatCode)

" Map <leader>d to start debug
:map <leader>d <Action>(Debug)

" Map \b to toggle the breakpoint on the current line
:map <leader>b <Action>(ToggleLineBreakpoint)
