""" Common settings -------------------------
"esc setting
inoremap jk <esc>
inoremap <c-y> <cr>

set showmode
set so=5
set ignorecase  " Make searches case-insensitive
set incsearch
set nu rnu

""""""""""""""
"" Plug in
set surround
set multiple-cursors  " <A + c> , <A + x>, <A + a>
"
" Map vim marks to IDEA global marks
set ideamarks
"
""" IdeaVim development stuff
set ideastrictmode

""" Some popular actions


""" Map leader to space ---------------------
let mapleader=" "

" Map \r to the Reformat Code action
:map <leader>r <Action>(ReformatCode)

" Map <leader>d to start debug
" :map <leader>d <Action>(Debug)

" Map \b to toggle the breakpoint on the current line
:map <leader>b <Action>(ToggleLineBreakpoint)

nnoremap <leader>rr :action Run<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>cc :action CleanGradleProject<cr>
nnoremap <leader>ss :action Android.SyncProject<cr>

nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>: :action GotoAction<cr>
nnoremap <leader>o :action GotoFile<cr>
nnoremap <leader>lc :action ActivateLogcatToolWindow<cr>
nnoremap <leader>sh :action ActivateTerminalToolWindow<cr>

nnoremap <leader>R  :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>rm :action ExtractMethod<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>rv :action IntoroduceVariable<cr>
nnoremap <leader>rs :action ExtractSuperclass<cr>
nnoremap <leader>ri :action Inline<cr>


nnoremap L :action NextTab<cr>
nnoremap H :action PreviousTab<cr>

nnoremap <leader>+ :action EditorIncreaseFontSize<cr>
nnoremap <leader>- :action EditorDecreaseFontSize<cr>
nnoremap <leader>x :action CloseActiveTab<cr>


nnoremap ]d :action GotoNextError<cr>
nnoremap [d :action GotoPreviousError<cr>

nmap gb <Action>(Back)
nmap gD <Action>(GotoTypeDeclaration)
nmap gf <Action>(Forward)
nmap gl <Action>(QuickJavaDoc)
nmap gL <Action>(QuickImplementations)
nmap gy <Action>(ShowErrorDescription)
nmap <leader>c <Action>(CallHierarchy)
" Highlight usages, use CMD+G/Shift+CMD+G to iterate
nmap <leader>h <Action>(HighlightUsagesInFile)
nmap <leader>n <Action>(ReSharperNavigateTo)
nmap <leader>q <Action>(ToggleRenderedDocPresentation)
nmap <leader>s <Action>(ShowUsages)
nmap <leader>t <Action>(TypeHierarchy)
nmap <leader>u <Action>(FindUsages)
nmap <leader>v <Action>(Vcs.QuickListPopupAction)
nmap <leader>x <Action>(HideAllWindows)


xnoremap J :action MoveLineDown<cr>
xnoremap K :action MoveLineUp<cr>
